{% load staticfiles %}
@font-face 
{
	font-family: "staubach";
	src: url("../fonts/staubach.ttf");
}
@font-face 
{
	font-family: "linux libertine";
	src: url("../fonts/libertine.ttf");
}
@font-face 
{
	font-family: "roboto";
	src: url("../fonts/roboto.ttf");
}
p.customfont{font-family: "staubach", "linux libertine", "roboto";}
h1{font-family: 'staubach'; font-size: 400%; color: #000;margin-bottom: 0%; margin-top: 0%;}
body
{
	font-family: 'linux libertine'; font-size: 20px; background-image: url("images/background.jpg"); 
	margin-left: 10%; margin-right: 10%;
	margin-bottom: 0%; margin-top: 0%;
	text-align: center;
}
body ul{list-style-type: none;font-size: 50px;font-family: 'roboto';}
body a{color:#000; text-decoration: none;}
body a:hover{color:#871717;}

#main-header
{
	padding-left: 15%; padding-right: 15%; 
	margin-left: 10%; margin-right: 10%;
	margin-bottom: 0%; margin-top: 0%;
}
