{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="/static/main/style.css">

<head>
	<title>422 Games Ltd.</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<html>
	<header id="main-header">
		<h1>422 Games Ltd.</h1>
	</header>
	<div id="navbar">
		<a href="/music/">music</a>
		<a href="#">games</a>
		<a href="/comments/">comments</a>
	</div>
	<br>
	<br>
	<body>
		хуй знает... ну хуй знает какой текст. у меня уже фантазии ни на что не хватает
	</body>
	<br>
	<br>
	<div class="row">
		<div class="column">
			<h2>Артем</h2>
			<h7>способности: блюститель чистоты</h7><br>
			<img src="/static/main/images/artem.png">
		</div>

		<div class="column">
			<h2>Виктор</h2>
			<h7>способности: ???</h7><br>
			<img src="/static/main/images/victor.png">
		</div>

		<div class="column">
			<h2>Денис</h2>
			<h7>способности: боится света</h7><br>
			<img src="/static/main/images/denis.gif">
		</div>

		<div class="column">
			<h2>Марк</h2>
			<h7>способности: не бухает</h7><br>
			<img src="/static/main/images/mark.png">
		</div>
	</div>
</html>